{% extends "my_page/base.html" %}

{% block content %}

<div class="container mt-5 pt-5 text-center" style="margin-top:120px;">

<h2>Confirmar correo</h2>

{% if confirmation %}

<p>Haz clic para confirmar tu correo.</p>

<form method="POST" action="">
    {% csrf_token %}

    <button type="submit" class="btn btn-primary">
        Confirmar correo
    </button>

</form>

{% else %}

<p>El enlace no es válido o ya fue usado.</p>

<a href="{% url 'account_login' %}" class="btn btn-secondary mt-3">
Ir al login
</a>

{% endif %}

</div>

{% endblock %}