{% extends 'my_page/base.html' %}
{% load static %}

{% block content %}
<section class="container mt-5 pt-5 mb-5">
    <h2>{{ course.title }}</h2>
    <hr>
    
    {% for video in course.videos.all %}
    <div class="mb-5">
        <h4>{{ video.title }}</h4>
        <div class="ratio ratio-16x9 mt-3">
            <iframe src="{{ video.youtube_url }}" 
                    title="{{ video.title }}" 
                    frameborder="0" 
                    allowfullscreen>
            </iframe>
        </div>
    </div>
    {% endfor %}

</section>
{% endblock %}